body {
  background-color: #554848;

}


#coffee {
  width: 60px;
  height: 270px;
  background-color: orange;
  position: absolute;
  left: 60px;
  top: 580px;
}

#coffee-cap {
  width: 60px;
  height: 30px;
  background-color: rgb(0, 255, 119);
}

#coffee-label {
  width: 60px;
  height: 60px;
  background-color: #9f5192;
  position: absolute;
  bottom: 40px;
}


#notebook {
  width: 180px;
  height: 280px;
  background-color: #4e2f6f;
  position: absolute;
  left: 190px;
  top: 570px;
}

#spiral {
  width: 14px;
  height: 280px;
  background-color: green;
  position: absolute;
  left: -14px;
  top: 0;
}


#notebook-shadow {
  width: 180px;
  height: 20px;
  background-color: purple;
  position: absolute;
  left: 0px;
  top: 280px;
}


#pencil {
  width: 260px;
  height: 14px;
  background-color: greenyellow;
  position: absolute;
  left: 220px;
  top: 885px;
}

#eraser {
  width: 22px;
  height: 14px;
  background-color: red;
}

#tip {
  width: 16px;
  height: 14px;
  background-color: blue;
  position: absolute;
  right: 0;
  top: 0;
}
